* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --primary: #fb5533;
  --primary-dark: #f53d2d;
  --primary-light: #f63;
  --white: #fff;
}
body {
  width: 100%;
  background-color: #f5f5f5;
}
.wrapper {
  max-width: 1200px;
  height: 100vh;
  /* background-color: teal; */
  position: relative;
  top: 150px;
  margin: auto;
}
header {
  width: 100%;
  height: 120px;
  background: linear-gradient(-180deg, #f53d2d, #f63);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.top {
  max-width: 1200px;
  margin: 0 auto;
}
.navbar,
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
/* navbar left ======================================= */
.navbar-left {
  position: relative;
  display: flex;
  align-items: center;
}
.navbar-left > a {
  text-decoration: none;
  color: var(--white);
  font-size: 13px;
  padding: 0 7px;
  border-right: 1px solid var(--white);
}
.connect {
  color: var(--white);
  font-size: 13px;
  padding: 0 7px;
}
.connect-icon {
  display: flex;
  align-items: center;
  color: var(--white);
}
.connect-icon a {
  text-decoration: none;
  color: var(--white);
}
.instagram {
  margin-left: 7px;
}
/* navbar-right ======================================= */
.navbar-right {
  display: flex;
  align-items: center;
}
.navbar-right-item {
  padding: 0 7px;
}
.notification-link,
.support-link,
.sign-up-link,
.sign-in-link {
  width: 100%;
  text-decoration: none;
  color: var(--white);
  font-size: 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.notification-link ion-icon,
.support-link ion-icon {
  font-size: 18px;
}
.notification-link > span,
.support-link > span {
  margin-left: 3px;
}
.sign-up {
  border-right: 1px solid var(--white);
}
/* header =============================== */
.logo {
  padding-right: 40px;
  cursor: pointer;
}
.box-search {
  width: 100%;
}
.box-input {
  width: 100%;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  border-radius: 3px;
}
.text-input {
  font-size: 13px;
  padding: 10px 10px;
  outline: none;
  border-radius: 3px;
  border: none;
  width: 100%;
  flex-shrink: 1;
}
.btn-search {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: inherit;
  color: var(--white);
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.box-cart {
  padding: 0 50px;
}
.cart-link {
  text-decoration: none;
  color: var(--white);
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recommend {
  font-size: 12px;
  margin-top: 5px;
}
.recommend > a {
  margin-right: 10px;
  text-decoration: none;
  color: var(--white);
}
